[submodule "wallpapers/gruvbox"]
	path = wallpapers/gruvbox
	url = https://github.com/vctrblck/gruvbox-wallpapers
[submodule "wallpapers/nord-wallpapers"]
	path = wallpapers/nord-wallpapers
	url = https://github.com/iamdevnitesh/nord-wallpapers
[submodule "neofetch/.config/neofetch/themes"]
	path = neofetch/.config/neofetch/themes
	url = https://github.com/Chick2D/neofetch-themes
[submodule "ranger/.config/ranger/plugins/ranger_devicons"]
	path = ranger/.config/ranger/plugins/ranger_devicons
	url = https://github.com/alexanderjeurissen/ranger_devicons
