
@theme "theme/nord"

configuration {
 modi: [window, drun, ssh, combi ];
 font: "JetBrains Mono Nerd Font 13";
 icon-theme: "Papirus";
 combi-modi: [ window, drun, ssh ];
}

element {
  orientation: horizontal;
  children: [ element-icon, element-text ];
  spacing: 5px;
}

