[core]
    autocrlf = false
    editor = nvim
    commentChar = "#"
[user]
    email = i.akkuzin@avsw.ru
    name = Ilya Akkuzin
[filter "lfs"]
    process = git-lfs filter-process
    required = true
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
[init]
    defaultBranch = master
[pull]
    rebase = false
[diff]
    colorMoved = default
[alias]
    tree = log --oneline --graph --decorate --all
